.nav-base {
    display: grid;
    padding: 5px;
    align-items: center;
    border: 2px solid #000;
    border-radius: 15px;
    margin: 5px;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}




.categorias-juegos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Cambio a un layout de cuadrícula adaptable */
    justify-content: center;
    gap: 10px; /* Reduzco el espacio entre elementos en dispositivos móviles */
    max-width: 100%; /* Cambio el ancho máximo para que se ajuste al ancho del dispositivo */
    padding: 10px; /* Agrego un poco de espacio interno para mejorar la legibilidad */
}

/* Media query para adaptar a dispositivos móviles */
@media screen and (max-width: 768px) {
    .categorias-juegos {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Ajusto el tamaño de las columnas para dispositivos móviles */
    }
}

.juegos-terror,
.juegos-aventuras,
.juegos-accion,
.juegos-deportes,
.juegos-simulacion {
    display: flex;
    flex-wrap: wrap; /* Para que los elementos se envuelvan en dispositivos pequeños */
    justify-content: center;
    gap: 20px; /* Reduzco el espacio entre elementos en dispositivos pequeños */
    padding: 10px; /* Agrego un poco de espacio interno para mejorar la legibilidad */
}

/* Media query para adaptar a dispositivos móviles */
@media screen and (max-width: 768px) {
    .juegos-terror,
    .juegos-aventuras,
    .juegos-accion,
    .juegos-deportes,
    .juegos-simulacion {
        max-width: 100%; /* Cambio el ancho máximo para que se ajuste al ancho del dispositivo */
        padding: 5px; /* Reduzco el espacio interno en dispositivos pequeños */
    }
}