:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
}

.nav-base {
    display: grid;
    padding: 5px;
    align-items: center;
    border: 2px solid #000;
    border-radius: 15px;
    margin: 5px;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.nav-base p {
    color: #fff;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav-base h1 {
    color: #000;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#container_categorias h2,
.footer-dgames h2 {
    color: #000;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
}

.boton1,
.boton2,
.boton3,
.boton4 {
    padding: 0 30px;
    background-color: #154295;
    border-radius: 15px;
    transition: ease-in-out 0.5s;
}

.boton1:hover,
.boton2:hover,
.boton3:hover,
.boton4:hover {
    transform: scale(1.05);
    transition: ease-in-out 0.5s;
}

#container_duoc_juegos a,
#container_categorias a,
.container-categoria-aventuras a,
.container-catgoria-accion a,
.container-categoria-deportes a,
.container-categoria-terror a,
.container-categoria-simulacion a,
.container-contacto a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}

#container_duoc_juegos img,
.container-categoria-aventuras img,
.container-catgoria-accion img,
.container-categoria-deportes img,
.container-categoria-terror img,
.container-categoria-simulacion img {
    max-width: 100%;
    width: 100%;
}


.footer-dgames {
    font-size: 1.2em;
    text-align: center;
}

.categorias-juegos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 20px;
    max-width: 1000px;
    margin: auto;
}

.categorias img,
.juegos-terror img,
.juegos-aventuras img,
.juegos-accion img,
.juegos-deportes img,
.juegos-simulacion img {
    max-width: 400px;
    transition: ease-in-out 0.5s;
    border-radius: 25px;
}

.categorias img:hover,
.juegos-aventuras img:hover,
.juegos-terror img:hover,
.juegos-accion img:hover,
.juegos-deportes img:hover,
.juegos-simulacion img:hover {
    transform: scale(1.05);
    transition: ease-in-out 0.5s;
    border-radius: 25px;
}


.categorias p,
.juegos-aventuras p,
.juegos-terror p,
.juegos-accion p,
.juegos-deportes p,
.juegos-simulacion p {
    color: #000;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
}

.descripcion-juegos {
    color: #000;
    font-size: 1.2em;
    font-family: sans-serif;
}

.juegos-terror,
.juegos-aventuras,
.juegos-accion,
.juegos-deportes,
.juegos-simulacion {
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: center;
    gap: 50px;
}

.juegos-terror,
.juegos-aventuras,
.juegos-accion,
.juegos-deportes,
.juegos-simulacion {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.juegos-terror img,
.juegos-aventuras img,
.juegos-accion img,
.juegos-deportes img,
.juegos-simulacion img {
    max-height: 400px;
}

.title-dgames {
    background-image: linear-gradient(180deg, #FF5D52 30%, #FF1A94 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.container-form-dgames {
    max-width: 1000px;
    margin: 100px auto;
    padding: 20px;
}


/* ESTILOS DESKTOP */
@media only screen and (min-width: 768px) {

    .nav-base {
        grid-template-columns: repeat(4, 1fr);
        padding: 10px;
        margin: 10px;
        gap: 20px;
    }
.juegos-terror,
.juegos-aventuras,
.juegos-accion,
.juegos-deportes,
.juegos-simulacion {
    flex-direction:row;
}
}

/* ESTILOS DESKTOP */






